/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2016, 10:47:32 AM
    Author     : eak
*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 50px auto 50px auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.table-control {
    width: 80%;
    margin: 50px auto 0px auto; 
}

.table-control a {
    font-weight: 800;
    font-size: 18px;
    text-decoration: underline;
}

.custom-search-form {
    width:50%;
}

.searchbar{
    width:100%
}

